:root {
  --interact-color: #ffffff;
  --first-title-color: #ffffff;
  --second-title-color: #303030;
  --primary-text-color: #9da4bd;
  --secondary-text-color: #555555;
  --accent-color: #ff6c00;
  --secondary-bgc: #f7f7f7;
  --form-label-color: #8e8f99;
  --gap-regular: 30px; /* 2.6vw */
  --bg-linear-gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2));
  --cubic: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--first-title-color);

  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

address {
  font-style: normal;
}

.container {
  max-width: 100%;

  margin: 0 auto;
  padding-left: 31px;
  padding-right: 31px;

  /* outline: 1px solid red; */
}

@media screen and (min-width: 767px) {
  .container {
    padding-right: 39px;
    padding-left: 39px;
  }
}

@media screen and (min-width: 1170px) {
  .container {
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.link {
  text-decoration: none;
}

.upper-text {
  display: flex;
  align-items: center;
  gap: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

@media screen and (max-width: 479px) {
  .upper-text {
    font-size: 2.3vw;
  }
}

.upper-text::before {
  content: '';
  display: block;
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

@media screen and (min-width: 767px) and (max-width: 1169px) {
  .upper-text::before {
    width: 63px;
  }
}

@media screen and (min-width: 1169px) {
  .upper-text::before {
    width: 60px;
  }
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.down-text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
}

.btn {
  min-width: 161px;
  height: 40px;

  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;

  cursor: pointer;

  transition: background-color 250ms var(--cubic);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------Header */

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 767px) and (max-width: 1169px) {
  .header > .container {
    align-items: flex-start;
  }
}

.header-navigation {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1169px) {
  .header-navigation {
    padding-left: 10px;
  }
}

.header-logo {
  height: 56px;
  transform: scale(1);

  outline: transparent;
  transition: transform 250ms var(--cubic);
}

.logo-icon {
  fill: #fff;
}

.header-logo:hover,
.header-logo:focus {
  transform: scale(1.1);
}

.navigation-list {
  display: none;
}

.navigation-item {
}

.navigation-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--interact-color);
  display: block;

  transition: color 250ms var(--cubic), transform 250ms var(--cubic);
  outline: transparent;
}

.mob-menu {
  padding: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.burger-icon {
  fill: #fff;
}

.info-wrap {
  display: none;
}

@media screen and (max-width: 1169px) {
  .info-wrap {
    padding-top: 10px;
  }
}

.header-tel {
  text-transform: uppercase;
}

.header-button {
  color: var(--interact-color);
  outline: transparent;
}

.backdrop-mob-menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  background-color: rgba(25, 28, 38, 0.2);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms var(--cubic) 450ms, visibility 250ms var(--cubic) 450ms;
}

.backdrop-mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.header-mob-menu {
  position: absolute;
  top: 0;
  right: 0;

  height: 100%;
  width: 337px;
  padding: 48px 31px 48px 40px;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 4px 0 rgba(0, 0, 0, 0.08),
    0 4px 8px 0 rgba(0, 0, 0, 0.04);
  background-color: #fff;

  transform: translate(100%);
  transition: transform 450ms var(--cubic) 250ms;
}

.backdrop-mob-menu.is-open > .header-mob-menu {
  transform: translate(0);
}

.close-mob-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-bottom: 30px;
  padding: 0;
  background-color: transparent;
  line-height: 0;
  border: none;

  transition: border-radius 250ms var(--cubic), background-color 250ms var(--cubic),
    transform 250ms var(--cubic);
}

.close-mob-menu:hover,
.close-mob-menu:focus {
  border-radius: 50%;
  background-color: #303030;
  transform: scale(0.9);
}

.close-mob-menu:active {
  transform: scale(0.8);
}

.closer-menu {
  fill: #303030;
  transition: fill 250ms var(--cubic);
}

.close-mob-menu:hover .closer-menu,
.close-mob-menu:focus .closer-menu {
  fill: #fff;
}

.mob-menu-nav {
  margin-bottom: 64px;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-menu-list .navigation-link {
  font-size: 18px;
  color: #303030;
}

.info-wrap {
}

.mob-menu-wrap {
  display: flex;
  flex-direction: column;
  gap: 19px;

  margin-bottom: 69px;
}

.mob-menu-wrap > .header-tel {
  font-size: 18px;
  color: #303030;
}

.mob-menu-wrap > .header-button {
  color: #303030;
  width: 194px;
}

.navigation-link:hover,
.navigation-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
  transform: scale(1.1);
}

.mob-menu-nav .hero-link {
  font-size: 14px;
}

.header-mob-menu .footer-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header-mob-menu .footer-list::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 6px;

  width: 60px;
  height: 1px;
  background-color: var(--second-title-color);
}

.footer-item {
}

/** ====media===== */

@media screen and (min-width: 767px) {
  .header-navigation {
    gap: 59px;
  }

  .logo-icon {
    fill: var(--second-title-color);
  }

  .navigation-list {
    display: flex;
    gap: 2.6vw;
  }

  .mob-menu {
    display: none;
  }

  .info-wrap {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    align-items: center;
  }
}

@media screen and (min-width: 1169px) {
  .header-navigation {
    gap: 130px;
  }

  .navigation-list {
    gap: var(--gap-regular);
  }

  .info-wrap {
    flex-direction: row;
    gap: 43px;
    align-items: center;
    padding-right: 17px;
  }
}

/* ----------------------------------hero */

.hero {
}

@media screen and (max-width: 767px) {
  .hero {
    display: flex;
    align-items: center;

    max-width: 1070px;
    min-height: 100vh;
    padding: 208px 0;

    background-color: #504d4d;
    background-image: var(--bg-linear-gradient), url(../images/hero-bg-mob.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: var(--bg-linear-gradient), url(../images/hero-bg-mob@2x.webp);
    }
  }
}

.hero > .container {
  margin: 0;
}

.hero-soc {
  display: none;

  width: 117px;
  align-items: flex-end;

  padding-left: 27px;
  padding-bottom: 40px;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 40px;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
}

.hero-list::before {
  content: '';
  width: 60px;
  height: 1px;

  background-color: var(--second-title-color);
}

.hero-item {
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-title-color);

  outline: transparent;
  transition: color 250ms var(--cubic);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-upper-text {
  color: rgba(157, 164, 189, 0.6);
}

@media screen and (max-width: 767px) {
  .hero-upper-text {
    letter-spacing: 0.1em;
  }
}

.hero-title {
  font-size: 48px;
}

@media screen and (max-width: 479px) {
  .hero-title {
    font-size: 10vw;
  }
}

.hero-down-text {
  max-width: 360px;
  color: var(--primary-text-color);
}

.hero-down-text.down-text {
  max-width: 321px;
  font-size: 16px;
  line-height: 1.625;
}

@media screen and (max-width: 479px) {
  .hero-down-text.down-text {
    font-size: 3.3vw;
  }
}

/** ====media===== */

@media screen and (min-width: 767px) {
  .hero > .container {
    display: flex;
    margin: 0 auto;
  }

  .hero-soc {
    display: flex;
  }

  .hero-wrap {
    flex-grow: 1;
    justify-content: center;

    width: 1070px;
    min-height: 100vh;
    padding: 208px 0;
    padding-top: 242px;
    padding-left: 98px;

    background-color: #504d4d;
    background-image: var(--bg-linear-gradient), url(../images/hero-bg-tab.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: var(--bg-linear-gradient), url(../images/hero-bg-tab@2x.webp);
    }
  }

  .hero-down-text.down-text {
    max-width: 360px;
    font-size: 18px;
    line-height: 1.67;
  }
}

@media screen and (min-width: 1170px) {
  .hero-soc {
    max-width: 100px;
  }

  .hero-wrap {
    padding-left: 100px;
    min-height: 680px;
    padding-top: 272px;

    background-image: var(--bg-linear-gradient), url(../images/hero-bg.webp);
  }

  @media screen and (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: var(--bg-linear-gradient), url(../images/hero-bg@2x.webp);
    }
  }

  .hero-title {
    font-size: 72px;
  }
}

/* ---------------------------------about */

.about {
  /* padding-top: 120px;
  padding-bottom: 120px; */
  padding-top: 84px;
  padding-bottom: 84px;
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1170px) {
  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.about > .container {
  display: flex;
  gap: var(--gap-regular);
}

.about-list {
  display: none;
  gap: var(--gap-regular);
}

@media screen and (min-width: 768px) {
  .about-list {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 1170px) {
  .about-list {
    flex-direction: row;
  }
}

@media screen and (min-width: 1170px) {
  .about-item {
    flex-basis: calc((100% - 1 * var(--gap-regular)) / 2);
  }

  .about-item-picture {
    width: 270px;
    height: 445px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1169px) {
  .about > .container {
    justify-content: center;
  }

  .about-wrap {
    max-width: 330px;
  }
}

@media screen and (min-width: 1169px) {
  .about-wrap {
    max-width: 470px;
  }
}

.about-upper-text {
  margin-bottom: 20px;

  color: var(--second-title-color);
}

.about-title {
  max-width: 306px;
  margin-bottom: 20px;

  font-size: 28px;
  color: var(--second-title-color);
}

@media screen and (min-width: 768px) {
  .about-title {
    max-width: 330px;
  }
}

@media screen and (min-width: 1170px) {
  .about-title {
    max-width: 470px;
    font-size: 42px;
  }
}

.about-down-text {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .about-down-text {
    font-size: 16px;
    line-height: 1.66;
  }
}

@media screen and (min-width: 1170px) {
  .about-down-text {
    font-size: 18px;
  }
}

.about-text {
  /* margin-bottom: 42px; */
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 768px) {
  .about-text {
    margin-bottom: 84px;
  }
}

@media screen and (min-width: 1170px) {
  .about-text {
    margin-bottom: 42px;
  }
}

.about-button {
  color: var(--second-title-color);

  outline: transparent;
  transition: background-color 250ms var(--cubic), color 250ms var(--cubic);
}

.about-button:hover,
.about-button:focus {
  color: var(--secondary-bgc);
}

/* -------------------------servisec */

.services {
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 1600px;
  margin: 0 auto;

  background-color: #111319;
  background-image: url(../images/prices-bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.services-upper-text {
  margin-bottom: 9px;

  color: rgba(157, 164, 189, 0.6);
}

.services-title {
  margin-bottom: 55px;

  color: var(--first-title-color);
}

.services-wrap {
  display: flex;
  gap: var(--gap-regular);
  margin-bottom: 44px;
}

.services-list {
  flex-basis: calc((100% - 1 * var(--gap-regular)) / 2);
  padding: 30px 20px;
}

.services-list:first-child {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services-list:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.services-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}

.services-item::before {
  content: '';
  flex-grow: 1;
  height: 1px;
  background: rgba(157, 164, 189, 0.12);
}

/* .services-item:not(:last-child) {
  margin-bottom: 20px;
} */

.services-item + .services-item {
  margin-top: 20px;
}

.services-item-text {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.services-item-text:first-child {
  order: -1;
}

.services-button {
  display: block;
  margin: 0 auto;

  color: var(--interact-color);
  outline: transparent;
}

/* ------------------------benefits */

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits > .container {
  display: flex;
  gap: 130px;

  padding-left: 85px;
  padding-right: 115px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}

.benefits-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;

  background-color: var(--secondary-bgc);
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item > .count {
  position: relative;
  display: block;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--second-title-color);
}

.benefits-item > .count::after {
  content: '+';
  position: absolute;
  top: 7px;
  margin-left: 1px;

  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  text-align: center;
  color: #ff6c00;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--second-title-color);
}

.benefits-wrap {
  max-width: 500px;
}

.benefits-upper-text {
  margin-bottom: 20px;

  color: var(--second-title-color);
}

.benefits-title {
  max-width: 431px;
  margin-bottom: 20px;

  color: var(--second-title-color);
}

.benefits-down-text {
  color: var(--secondary-text-color);
}

/* ---------------------------barbers */

.team {
  padding-top: 120px;
  padding-bottom: 120px;

  background-color: var(--secondary-bgc);
}

.team-upper-text {
  margin-bottom: 20px;

  color: var(--second-title-color);
}

.team-title {
  margin-bottom: 44px;

  color: var(--second-title-color);
}

.team-list {
  display: flex;
  gap: var(--gap-regular);
}

.team-item {
  flex-basis: calc((100% - 2 * var(--gap-regular)) / 3);
}

.team-item-title {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--second-title-color);
}

.team-item-text {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color);
}

.team-soc-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  background-color: var(--interact-color);
  border-radius: 50%;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  outline: transparent;
  transition: fill 250ms var(--cubic), transform 250ms var(--cubic);
}

.team-soc-link:hover,
.team-soc-link:focus {
  fill: var(--accent-color);
  transform: scale(1.4);
}

/* ---------------------------portfolio */

.portfilio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfilio-text {
  margin-bottom: 44px;

  color: var(--second-title-color);
}

.portfilio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap-regular);
  row-gap: 50px;
}

.portfilio-item {
  flex-basis: calc((100% - 3 * var(--gap-regular)) / 4);
}

/* -------CONTACTS WRAP  */

.contacts-wrap {
  max-width: 1600px;
  margin: 0 auto;

  background-color: #191c26;

  background-image: url(../images/contacts-bg.webp);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px) 100%;
}

.contacts-wrap > .container {
  display: flex;
}

/* ----------------------------booking */

.booking {
  padding-top: 130px;
  padding-bottom: 174px;
  padding-right: 26px;

  flex-basis: calc(50% + 15px);
}

.booking-title {
  color: var(--first-title-color);
  margin-bottom: 44px;
}

.booking-form {
}

.booking-inp-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.booking-field {
  margin-bottom: 44px;
}

.booking-label {
  display: flex;
  flex-direction: column;
}

.booking-text {
  margin-bottom: 2px;

  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);

  transition: color 250ms var(--cubic);
}

.booking-label:focus-within .booking-text {
  color: var(--interact-color);
}

.booking-inp {
  width: 270px;
  height: 24px;

  color: var(--interact-color);
  background-color: transparent;

  border: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);

  outline: transparent;

  transition: color 250ms var(--cubic), border-bottom-color 250ms var(--cubic);
}

.booking-inp:focus {
  color: var(--interact-color);
  border-bottom-color: var(--interact-color);
}

.booking-textarea {
  resize: none;
  width: 570px;
  height: 76px;
}

.booking-btn {
  text-align: center;
}
/* ----------------------------------------contacts */

.contacts {
  padding-top: 130px;
  padding-bottom: 111px;
  padding-left: 105px;

  flex-basis: calc(50% - 15px);
}

.contacts-title {
  margin-bottom: 40px;

  color: var(--first-title-color);
}

.address {
  max-width: 270px;
  margin-bottom: 70px;
}

/* .address-list {
} */

.address-link[href^='https'] {
  font-weight: 700;
}

.address-item:not(:last-child) {
  margin-bottom: 20px;
}

/* .address-item + .address-item {
  margin-top: 20px;
} */

.address-link[href$='com'] {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: text-decoration-color 250ms var(--cubic), transform 250ms var(--cubic);
}

.address-link[href$='com']:hover,
.address-link[href$='com']:focus {
  text-decoration-color: var(--accent-color);
}

.address-link,
.contacts-text {
  color: var(--primary-text-color);
}

.address-link {
  display: flex;
  align-items: center;
  gap: 16px;

  transition: transform 250ms var(--cubic);
}

.address-link:hover,
.address-link:focus {
  transform: scale(1.1);
}

.address-icon {
  stroke: #9da4bd;
  fill: transparent;
  transition: stroke 250ms var(--cubic);
}

.address-link:hover .address-icon,
.address-link:focus .address-icon {
  stroke: var(--accent-color);
}

/* .address-link:first-child {
  align-items: flex-start;
} */

.address-icon.own {
  position: relative;
  top: -12px;
}

.contacts-upper-text {
  margin-bottom: 20px;

  color: var(--first-title-color);
}

/* ------------------------------foter */

.footer {
  padding-top: 56px;
  padding-bottom: 56px;

  background-color: var(--secondary-bgc);
}

.footer > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: var(--primary-text-color);
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-list::before {
  content: '';
  width: 60px;
  height: 1px;

  background-color: var(--second-title-color);
}

.footer-item {
}

/* --------------MODAL */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms var(--cubic), visibility 250ms var(--cubic);
}

.backdrop.is-hidden {
  transition: opacity 250ms var(--cubic) 350ms, visibility 250ms var(--cubic) 350ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  transition: transform 350ms var(--cubic);

  width: 408px;
  min-height: 500px;
  padding: 24px;

  border-radius: 4px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 1px 1px 0 rgba(0, 0, 0, 0.14);

  background: #fcfcfc;
}

@media screen and (max-width: 478px) {
  .modal {
    max-width: 80%;
    padding-top: 38px;
    overflow-y: auto;
  }
}

.backdrop.is-hidden > .modal {
  transform: translate(-50%, -200%);
}

.modal-btn {
  position: absolute;
  right: -8px;
  top: -8px;
  transform: scale(1.1);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  /* margin-left: auto;
  margin-bottom: 24px; */

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;

  background-color: #e7e9fc;

  cursor: pointer;
  outline: transparent;

  transition: transform 250ms var(--cubic);
}

@media screen and (max-width: 478px) {
  .modal-btn {
    top: 8px;
    right: 8px;
  }
}

.modal-btn:hover,
.modal-btn:focus {
  transform: scale(1.2);
  background-color: var(--accent-color);
}

.modal-btn:active {
  background-color: var(--accent-color);
}

.modal-icon {
  fill: var(--second-title-color);
}

.modal-btn:active .modal-icon {
  fill: var(--secondary-bgc);
}

.modal-title {
  margin-bottom: 20px;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.modal-form {
}

.modal-form-field {
  margin-bottom: 25px;
}

.form-thumb-icon {
  position: relative;
}

.modal-inp {
  width: 100%;
  height: 40px;
  padding-left: 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--form-label-color);

  background-color: transparent;

  outline: transparent;

  transition: border 250ms var(--cubic);
}

.modal-inp:focus {
  border: 1px solid var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  left: 16px;
  top: 50%;

  transform: translateY(-50%);

  transition: fill 250ms var(--cubic);
}

.modal-inp:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-label {
  position: absolute;
  left: 42px;
  top: 50%;
  transform: translateY(-50%) scale(1.2);

  display: inline-block;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--form-label-color);

  transition: transform 250ms var(--cubic), scale 250ms var(--cubic);
}

.modal-form-field:focus-within .modal-label {
  transform: translate(-40px, -35px) scale(1);
}

.modal-inp:not(:placeholder-shown):not(:focus):valid ~ .modal-label {
  transform: translate(-40px, -35px) scale(1);
}

.modal-inp:not(:placeholder-shown):not(:focus):invalid ~ .modal-label {
  transform: translate(-40px, -35px) scale(1);
}

.modal-inp:not(:placeholder-shown):not(:focus):valid {
  background-color: rgba(69, 255, 60, 0.318);
}

.modal-inp:not(:placeholder-shown):not(:focus):invalid {
  background-color: rgba(255, 60, 60, 0.318);
}

.modal-form-field.textarea {
  position: relative;
  margin-bottom: 16px;
}

.modal-text-label {
  position: absolute;
  left: 20px;
  top: 10px;
  transform: scale(1.2);

  display: inline-block;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: var(--form-label-color);

  transition: transform 250ms var(--cubic);
}

.modal-text-inp:focus + .modal-text-label {
  transform: translate(-18px, -25px) scale(1);
}

.modal-text-inp:not(:placeholder-shown) + .modal-text-label {
  transform: translate(-18px, -25px) scale(1);
}

.textarea > .modal-text-inp {
  resize: none;

  width: 100%;
  height: 120px;
  padding: 8px 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  background-color: transparent;

  outline: transparent;

  transition: border 250ms var(--cubic);
}

.textarea > .modal-text-inp::placeholder {
  color: rgba(46, 47, 66, 0.4);
  opacity: 0;

  transition: opacity 250ms var(--cubic);
}

.modal-text-inp:focus::placeholder {
  opacity: 1;
}

.modal-text-inp:focus {
  border: 1px solid var(--accent-color);
}

.check-text {
  display: flex;
  align-items: center;
  position: relative;

  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

@media screen and (max-width: 478px) {
  .check-text {
    flex-direction: column;
  }
}

.check-text::before {
  content: '';
  width: 36px;
  height: 18px;
  margin-right: 10px;

  border: 1px solid #aca6a5;
  border-radius: 50px;
  cursor: pointer;

  transition: border 300ms linear, background-color 300ms linear;
}

@media screen and (max-width: 478px) {
  .check-text::before {
    margin-right: auto;
  }
}

.check-text::after {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 14px;
  height: 14px;

  background-color: #aca6a5;
  border-radius: 50%;
  cursor: pointer;

  transition: transform 300ms linear, background-color 300ms linear;
}

.input-check:checked + .check-text::after {
  transform: translate(18px);
  background-color: #ffffff;
}

.input-check:checked + .check-text::before {
  background-color: #94c786;
  border: none;
}

.check-text a {
  line-height: 1.33333;
  text-decoration: underline;
  color: #4d5ae5;
}

.modal-form-btn {
  display: block;
  margin: 0 auto;
  outline: transparent;
}

/** =========================MEDIA=================== */
